<div class="wrapper">
    <div class="outer col-md-12 col-sm-12">

        <nav class="navbar navbar-default" ng-controller="MainNavCtrl">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button ng-click="navCollapsed = !navCollapsed" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">CNVRGE</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div collapse="navCollapsed" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#section-start" du-smooth-scroll du-scrollspy>Get Started</a></li>
                        <li><a href="#section-about" du-smooth-scroll du-scrollspy>About</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="header text-center">
            <!-- <h1>cnvrge now</h1> -->
            <h1>CNVRGE NOW</h1>
            <form ng-submit="startConvo()">
                <button type="submit" class="button-1" href="">CNVRGE</button>
            </form>
        </div>
    </div>

    <section class="main col-md-12 col-sm-12" id="section-start">
        <div class="sub-heading-body text-center">
            <h2>Find great spots for food...</h2>
            <h3>Halfway between where you and your friends are.</h3>
            <div class="steps col-md-4">
                <i class="fa fa-users fa-4x"></i>
                <h3>Friend</h3>
                <hr>
                <div class="text-left">
                    <p>Want to meet a friend for lunch? Start cnvrge and email or text the link to them. Make sure to allow geolocation on your device.</p>
                </div>
            </div>
            <div class="steps col-md-4">
                <i class="fa fa-map-marker fa-4x"></i>
                <h3>Location</h3>
                <hr>
                <div class="text-left">
                    <p>Once you both join, you will have up to 20 restaurant suggestions to choose from, with the option to click yes or no. If either of you choose no, the option is discarded and you are given another.</p>
                </div>
            </div>
            <div class="steps col-md-4">
                <i class="fa fa-cutlery fa-4x"></i>
                <h3>Meet</h3>
                <hr>
                <div class="text-left">
                    <p>If you both click yes, you'll get the address. Click it to open it in Google maps for directions to the restaurant. That's it! Enjoy.</p>
                </div>
            </div>
            <form ng-submit="startConvo()" class="col-md-12 text-center">
                <button type="submit" class="button-2" href="">CNVRGE</button>
            </form>
        </div>
    </section>
    <section class="about col-md-12 col-sm-12" id="section-about">
        <div class="about-text col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 text-center">
            <h1>About</h1>
            <hr>
            <p>This app was built by Nick Lathe. He is a Seattle based web developer, and saw a need for a simple solution for deciding on a place to meet a friend for lunch. CNVRGE is built on Node.js, and uses AngularJS and Socket.io for a dynamic, real-time front end expereince. For more information on Nick, and to see other projects he has built, check out his personal site, <a id="personal-link" href="http://nicklathe.com/"><b>here.</b></a></p>
        </div>
    </section>
</div>
<footer>

</footer>










