<div class="wrapper">
    <div class="outer col-md-12 col-sm-12">

        <nav class="navbar navbar-default" ng-controller="MainNavCtrl">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button ng-click="navCollapsed = !navCollapsed" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Cnvrge</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div collapse="navCollapsed" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!-- <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul> -->
                    <!-- <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form> -->
                    <ul class="nav navbar-nav navbar-right">
                        <!-- <li><a href="/">Home</a></li> -->
                        <li><a href="#section-start" du-smooth-scroll du-scrollspy>Get Started</a></li>
                        <li><a href="#section-about" du-smooth-scroll du-scrollspy>About</a></li>
                        <!-- <li class="dropdown" dropdown>
                            <a href="#" dropdown-toggle class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li> -->
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="header text-center">
            <h1>Indecisive?<br>Converge now.</h1>
            <form ng-submit="startConvo()">
                <button type="submit" class="button-1 btn" href="">Converge</button>
            </form>
        </div>
    </div>

    <section class="main col-md-12 col-sm-12" id="section-start">
        <div class="sub-heading-body text-center">
            <h2>Find great spots for food...</h2>
            <h3>Halfway between where you and your friends are.</h3>
            <div class="steps col-md-4">
                <h3>Step 1</h3>
                <hr>
                <div class="text-left">
                    <p>You and a friend who works a few blocks away want to grab lunch, but want to meet somewhere between your two offices. Start Cnvrge, which will get your geolocation and provide you a link to email or text your friend. After they click the link and their location is recieved, you will get a list of up to 20 restaraunt suggestions.</p>
                </div>
            </div>
            <div class="steps col-md-4">
                <h3>Step 2</h3>
                <hr>
                <div class="text-left">
                    <p>You both will have the option to click yes or no on the restaurant suggestions. If one or both of you click no, the choice will be discarded and you will get another suggestion. If you both click yes, you will recieve the address of the location.</p>
                </div>
            </div>
            <div class="steps col-md-4">
                <h3>Step 3</h3>
                <hr>
                <div class="text-left">
                    <p>Once you get the address, you can click on it to open it in Google maps. And that's it! The app is simple, and will help you get to your lunch sooner. No need to dig through pages of suggestions from other location based services. Just yes or no, until you and your friend agree on a place. Enjoy converging! </p>
                </div>
            </div>
            <form ng-submit="startConvo()" class="col-md-12 text-center">
                <button type="submit" class="button-2 btn" href="">Let's Go!</button>
            </form>
        </div>
    </section>
    <section class="about col-md-12 col-sm-12" id="section-about">
        <div class="about-text col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 text-center">
            <h1>About</h1>
            <hr>
            <p>This app aims to cut down on the back and forth when trying to find a place to meet a friend for food and drinks. It takes the geo-locaiton of both individuals, and finds places lcated between those two locations. </p>
        </div>
    </section>
</div>
<footer>

</footer>










