body {
    font-family: 'Lato', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100%;
}

.outer {
    height: 750px;
    background-image: url('../images/cocktail.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

nav {
    position: relative;
    width: 100%;
}

.navbar {
    border-radius: 0;
    background-color: rgba(0,0,0,0.0);
    height: 100px;
    border: none;
}

body > div > ng-view > div > div.outer.col-md-12.col-sm-12 > nav > div > div.navbar-header > a {
    font-size: 25px;
    padding-top: 35px;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
    color: rgba(256,256,256,1);
}

body > div > ng-view > div > div.outer.col-md-12.col-sm-12 > nav > div > div.navbar-header > a:hover {
    color: rgba(51,165,214,0.7);
}

/* Brand for conversation view */
body > div > ng-view > div > div.wrapper > div > nav > div > div.navbar-header > a {
    font-size: 25px;
    padding-top: 35px;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
    color: rgba(256,256,256,1);
}

body > div > ng-view > div > div.wrapper > div > nav > div > div.navbar-header > a:hover {
    color: rgba(51,165,214,0.7);
}

#bs-example-navbar-collapse-1 > ul > li > a {
    color: #fff;
    font-size: 15px;
    padding-top: 40px;
    margin-right: 10px;
}

#bs-example-navbar-collapse-1 > ul > li > a:hover {
    border-bottom: 3px solid #fff;
}

body > div > ng-view > div > div.outer.col-md-12.col-sm-12 > nav > div > div.navbar-header > button > span.icon-bar {
    background-color: #fff;
}

body > div > ng-view > div > div.outer.col-md-12.col-sm-12 > nav > div > div.navbar-header > button {
    margin-top: 30px;
    border: none;
}

.header > h1 {
    color: #fff;
    margin-top: 180px;
    font-size: 100px;
    text-shadow: 2px 2px 8px #000;
    margin-bottom: 50px;
}

.sub-heading-body {
    padding-top: 100px;
}

.sub-heading-body h2 {
    font-size: 50px;
}

.sub-heading-body h3 {
    font-size: 30px;
}

.main {
    background-color: #E9E2D7;
    height: 750px;
}

.about {
    height: 750px;
    background-color: #252B35;
}

.about-text {
    padding-top: 100px;
}

.about h1 {
    color: #fff;
    font-size: 50px;
}

.about p {
    color: #fff;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 100;
}

#section-start > div > div > hr {
    border-color: #000;
}

/* ------ Buttons ------- */

.button-1 {
    border: 3px solid #fff;
    border-radius: 30px;
    color: #fff;
    font-size: 20px;
    width: 200px;
    padding: 10px;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    background-color: rgba(0,0,0,0.0);
}

.button-1:visited {
    text-decoration: none;
    color: #fff;
    background-color: rgba(51,165,214,0.7);
}

.button-1:hover {
    text-decoration: none;
    color: #fff;
    border-color: #fff;
    background-color: rgba(51,165,214,0.7);
}

.button-1:focus {
    outline:0;
}

.button-2 {
    border: 3px solid #fff;
    border-radius: 30px;
    font-size: 20px;
    margin-top: 70px;
    width: 200px;
    padding: 10px;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    background-color: rgba(0,0,0,0.0);
    color: #000;
    border-color: #000;
}

.button-2:visited {
    text-decoration: none;
    color: #000;
    background-color: rgba(51,165,214,0.7);
}

.button-2:hover {
    text-decoration: none;
    color: #000;
    border-color: #000;
    background-color: rgba(51,165,214,0.7);
}

.button-2:focus {
    outline:0;
}

body > div > ng-view > div > div.conversation > div > div > a.button-3 {
    border: 3px solid #fff;
    border-radius: 30px;
    font-size: 20px;
    margin-top: 50px;
    margin-right: 20px;
    width: 200px;
    padding: 10px;
    -webkit-transition: background-color 0.5s ease, color 0.5s ease;
    -moz-transition: background-color 0.5s ease. color 0.5s ease;
    -o-transition: background-color 0.5s ease, color 0.5s ease;
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: rgba(0,0,0,0.0);
    color: #fff;
    border-color: #fff;
}

body > div > ng-view > div > div.conversation > div > div > a.button-3:hover {
    text-decoration: none;
    border-color: #fff;
    background-color: rgba(256,256,256, 1);
    color: #000;
}
.steps {
    display: inline-block;
    padding-top: 50px;
}

.conversation-outer {
    height: 100%;
    min-height: 830px;
    background-image: url('../images/cocktail.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.conversation {
    background-color: rgba(37, 43, 53, 0.8);
    min-height: 650px;
    margin-top: 100px;
}

.conversation h1 {
    color: #fff;
    font-size: 50px;
    padding-top: 50px;
}

.conversation h4 {
    color: #fff;
    font-size: 40px;
    font-weight: 100;
}

.conversation p {
    color: #fff;
    font-size: 25px;
    font-weight: 100;
}

.conversation-text {
    margin-bottom: 50px;
}

#responseMsg {
    height: 20px;
    margin-bottom: 20px;
}

h1.waitMsg {
    padding-top: 20px;
    padding-bottom: 20px;
}

body > div > ng-view > div > div.conversation > div > div:nth-child(11) > a {
    color: #fff;
    font-size: 25px;
}

.place-anim{

}

.place-anim.ng-enter {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.place-anim.ng-leave {
    -webkit-animation-name: hinge;
    animation-name: hinge;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#personal-link {
    color: rgba(51,165,214,0.7);
}

/* media queries */

@media (max-width: 600px) {
    .header > h1 {
        font-size: 50px;
    }

    .main {
        height: 1300px;
    }

    .sub-heading-body {
        padding-top: 100px;
    }

    .sub-heading-body h2 {
        font-size: 35px;
    }

    .sub-heading-body h3 {
        font-size: 25px;
    }

    .about-text {
        padding-top: 50px;
    }

    #bs-example-navbar-collapse-1 {
        background-color: rgba(0,0,0,0.7);
        border-radius: 10px;
        border: none;
    }

    body > div > ng-view > div > div.conversation > div > div > a.button-3 {
        width: 100px;
    }

    .conversation h1 {
        font-size: 40px;
    }

    .conversation-outer {
        min-height: 900px;
    }

    .conversation {
        height: 500px;
        margin-top: 50px;
    }

    .conversation p {
        font-size: 15px;
    }
}






















